.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header, .footer{
  width:100%;
  height:100px;
  background-color: grey;
  display:table;
}
.footer{
  position: fixed;
  bottom: 0px;
}
.header h1, .footer h1{
  display:table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.products-container{
  margin-bottom: 100px;
}
.product-list>div{
  border: 1px solid gray;
  padding: 10px;
  margin:10px;
  width: 248px;
  float: left;
}

.go-to-cart-bt, .go-to-product-bt{
  clear: both;
  display: block;
  margin-left: 10px;
}
button:disabled{
  background-color: grey;
  border-color: grey;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
